#btn1 {
    background-color: rgb(135, 255, 80);
    height: 20px;
}

#btn2 {
    background-color: rgb(135, 255, 80);
    height: 20px;
}

#btn3 {
    background-color: rgb(135, 255, 80);
    height: 20px;
}

#btn4 {
    background-color: rgb(135, 255, 80);
    height: 20px;
}
.hbutton{
    border: 1px solid black;
}