* {
    margin: 0;
    padding: 0;
    /* 상자 내부의 외곽선 */
    box-sizing: border-box;
}
.lexContainer   {
    width: 100%;
    height: 960px;
    border: 3px solid black;
}
.lexHeader{
    position: relative;
    width: calc(100% - 40px);
    height: calc(20% - 40px);
    margin: 20px;
    border: 1px solid black;
}
.lexHeaderContents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}
.lexBody {
    /* For do not overlap margin size with header and body.*/
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(80% - 40px);
    margin: 20px;
}