* {
    margin: 0;
    padding: 0;
    /* 상자 내부의 외곽선 */
    box-sizing: border-box;
}
#mainContainer{
    width: 100%;
    height: 940px;
}

#topMenu {
    height: 100px;
    border: 1px solid black;
}

/* Top menu contents. */
.topContents_left {
    float: left;
} 

.topContents_right {
    float: right;
} 

#logo {
    width: 100px;
    height: 100px;
}

#searcher {
    width: 240px;
    height: 100px;
}

#searchBlank {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 200px;
    height: 20px;
}
#searchBlank > input {
    width: 200px;
    height: 20px;
    display: block;
}

#searchBtn{
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 10px;

    width: 20px;
    height: 20px;
    cursor: pointer;
}

#profileMenu{
    margin: 10px;
    width: 80px;
    height: 80px;
}

#profile{
    margin: 10px;
    margin-right: 50px;
    width: 80px;
    height: 80px;
}

/* Contents Data */
#contentsWrapper {
    overflow: hidden;
    height: calc(100% - 320px);
}

#footer {
    height: 100px;
    border: 1px solid black;
}

.menu{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* To margin overlapped clear. */
    display: inline-block;
    overflow: hidden;
}

/* Menu left-right null space.*/
.mainNull {
    width: 50px;
    height: 100%;
    float: left;
}
/* Room contetns wrapper. */
#roomSpace {
    width: calc(100% - 140px);
    height: 100%;
    float: left;
    
    margin-left: 20px;
    margin-right: 20px;

    background-color: rgb(214, 214, 214);
}

#roomMenu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.roomItem {
    background-color: rgb(126, 126, 126);
    border: 1px solid black;
    min-height: 200px;
    max-height: 200px;
}

.floatBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    position: absolute;
    bottom: 200px;
    right: 100px;
    border-radius: 100%;

    background-color: rgb(0, 153, 255);
}

.floatBtn:hover {
    background-color: rgb(245, 255, 151);
}

.tempImage {
    border: 1px solid black;
    background-image: url(public/image.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}