.lexRows {
    float: left;    
    width: 100%;
    border: 1px solid black;
    background-color: rgb(126, 126, 126);
}
.lexRowsNull{
    float: left;
    width: 100%;
    height: 20px;
}

/*
    lexRows-#`s height : calc(100/#% - (# - 1) * "margin-height"px);
*/
.lexRows-2{
    height: calc((100% - 20px)/2);
}
.lexRows-3{
    height: calc((100% - 40px)/3);
}
.lexRows-4{
    height: calc((100% - 60px)/4);
}
.lexRows-5{
    height: calc((100% - 80px)/5);
}
.lexRows-6{
    height: calc((100% - 100px)/6);
}